value: {{ formGroup.value | json }} <br>
valid: {{ formGroup.valid | json }}

<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput formControlName="foo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput formControlName="test" readonly>
    <mat-hint>readonly</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Checkbox</mat-label>
    <input matInput style="display: none">
    <mat-checkbox matSuffix  formControlName="bar"></mat-checkbox>
    <mat-error>{{formGroup.controls.bar.errors | json}}</mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-checkbox matCheckboxInput formControlName="bar2"><mat-label>Test asdfaksd asjd asklsad *</mat-label></mat-checkbox>
    <mat-error>{{formGroup.controls.bar2.errors | json}}</mat-error>
  </mat-form-field>
</form>
